---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import ContainerBottom from "../../elements/ContainerBottom.astro";
---

<Container variant={'md'}>
    <Heading tagName="h2" tagSize="h2" class="text-center">Education</Heading>
    <div class="flex flex-col gap-4">
        <Container class="flex flex-col gap-4 p-6 border-3 border-base-900">
            <Text variant={'sm'} class="text-base-900">
                I began my education at Marie Margarette School, completing both elementary and high school there.
                I then moved on to senior high school at the University of Perpetual Help System Laguna, and I am
                now a 4th year student at Mapúa Malayan Colleges Laguna, pursuing a Bachelor of Science in
                Information Technology.
            </Text>
        </Container>
        <ContainerBottom />
    </div>
</Container>