---
// components
import Container from "../../elements/Container.astro";
import Heading from "../../elements/Heading.astro";
import Text from "../../elements/Text.astro";
import ImageContainer from "../../elements/ImageContainer.astro";

// assets
import aldjon from "../../../assets/images/aldjon2.jpg";

// content
const softSkills = [
    "Critical Thinking",
    "Leadership",
    "Presentations",
    "Creativity",
    "Problem Solving",
    "Initiative"
];

const technicalSkills = [
    { category: "Coding Languages", items: "Python, C++" },
    { category: "Backend Development", items: "Supabase" },
    { category: "Database", items: "PostgreSQL, Oracle Database" },
    { category: "UI Development", items: "HTML5, Flutter, Figma" }
];
---

<Container variant={'xl'}>
    <Heading tagName="h1" tagSize="h1" class="text-center">Meet Aldjon</Heading>
    <div class="flex md:flex-row flex-col gap-16 md:items-center">
        <div class="flex-1 flex flex-col gap-7">
            <Text variant={'xl'} class="text-base-900">Passionate Programmer and IT in solving and creating new unique ideas</Text>
            <Text variant={'sm'} class="text-base-900">For the past 4 years, as a IT, I've experienced so much that helped me grow and become the developer who I want to be, someone who is passionate in creating and solving problems</Text>
        </div>
        <div class="flex-1 md:h-[500px] w-full">
            <ImageContainer src={aldjon} alt="aldjon"/>
        </div>
    </div>

    
</Container>